.tooltip .tooltip-hover {
    display: none;
}

.tooltip:hover .tooltip-hover {
    display: block;
    position: fixed;
    overflow: hidden;
}

body {
    font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}